/* .jp-DirListing-item.jp-mod-running .jp-DirListing-itemIcon:before  svg {
    display: none;
    width: 500px;
    background-image: url('./swan_cloud.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}
   */


/* span[isproject]  svg {
    display: none;
} */
/* #sw-FileBrowser-project-icon * svg {
    display: none;
} */
/* #sw-FileBrowser-project-icon {
    background-image: url('./swan_cloud.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
  } */
  
/* #sw-FileBrowser-project-icon {
    background-image: url('./swan_cloud.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
} */